* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
a {
  text-decoration: none;
  color: black; /* убираем стили ссылкам */
}
body {
  font-family: Eastman;
  font-size: 35px;
}
.main_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* выравниваем все по вертикали и горизонтали */
}
nav {
  display: flex; 
}
nav div {
  padding: 0 50px;
}
header img {
  height: 75px;
  display: block;
}




.wrapper {
  display: grid;
  grid-template-areas: /* матрица грид */
    "i i i i i i i i"
    "a a a a b b b b"
    "a a a a c c d d"
    "a a a a e e e e"
    "f f f f f f f f"
    "g g g g h h h h"
    "j j j j j j j j";
}
.wrapper section,
header,
footer {
  border: 1px rgb(0, 0, 0) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header,
footer {
  width: 800px;
}
.A {
  grid-area: a;
  background-color: red;
  height: 250px;
}
.B {
  grid-area: b;
  background-color: orange;
}

.C {
  grid-area: c;
  background-color: yellow;
}

.D {
  grid-area: d;
  background-color: greenyellow;
}

.E {
  grid-area: e;
  background-color: rgb(109, 238, 255);
}

.F {
  grid-area: f;
  height: 125px;
  background-color: rgb(4, 0, 255);
}

.G {
  grid-area: g;
  height: 125px;
  background-color: rgb(204, 0, 255);
}

.H {
  grid-area: h;
  background-color: rgb(255, 0, 140);
}

.header {
  height: 200px;
  grid-area: i;
}

.footer {
    font-size: 25px;
  grid-area: j;
  height: 200px;
}
